<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">
	
	<menuitem name="admin-root-organisation-territory-state"
		parent="admin-root-organisation-territory" title="States"
		action="admin.root.organisation.territory.state" />
		
	<action-view name="admin.root.organisation.territory.state"
		title="States" model="com.axelor.apps.base.db.State" >
		<view type="grid" name="state-grid"/>
		<view type="form" name="state-form"/>
		<context name="_duplicateFinderFields" expr="name"/>
	</action-view>
	
</object-views>